body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.btn-modern {
  background-color: rgb(248, 239, 239);
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.btn-modern:hover {
  animation: transition ease-in-out 0.4s forwards;
  cursor: pointer;
}
@keyframes transition {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
    text-shadow: 12ch;
    background-color: green;
    color: aliceblue;
    box-shadow: 0 8px 5px 5px rgba(0, 0, 0, 0.75);
  }
}
