* {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-14_856985d9.jpeg?download=true");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
}
.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: transparent;
}
img {
    width: 300px;
}
